*~
*.aux
*.backup
*.bak
*.bin
*.bin.hex
*.cap
*.disasm
*.fdb_latexmk
*.fls
*.gz
*.img
*.log
*.objdump
*.out
*.out.*
*-out.*
*.pdf
*.pk3
*.py[co]
*.py.out
*.scite.tex
*.tar.bz2
*.toc
*.xz
*.zip
decrypted
encrypted
memo.txt
/stage0/solution.bmp
!/stage1/challenge.zip
/stage2/textures/
/stage4/stage4.html
/stage6/congratulations.*
/stage6/solution.png
